<div class="card">
  <div class="card-img-wrapper">
    <img src="./../../../assets/house1.png" class="card-img-top" alt="House">
    <ul class="list-inline text-center member-icons animate">
      <li class="list-inline-item">
        <button class="btn btn-primary" routerLink="/property-detail/{{property.id}}">
          <i class="fas fa-edit"></i>
        </button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary">
          <i class="fas fa-address-book"></i>
        </button>
      </li>
    </ul>
  </div>
  <div class="card-body p-2">
    <h2 class="card-title">{{ property.name }}</h2>
    <h4 class="card-text">{{ property.house }}</h4>
    <h4 class="card-text">{{ property.price }}</h4>
  </div>
</div>

